<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Video Game Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/saved">Saved</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sorting Options
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/date-sort">Sort by Most Recent</a>
          <a class="dropdown-item" href="/alpha-sort">Sort Alphabetically</a>
        </div>
      </li>
      <a id="scrape" class="nav-item nav-link active" href="/scrape">Scrape New Articles
        <span class="sr-only">(current)</span>
      </a>
    </div>
  </div>
</nav>
<div class="container">

  <h3 id="banner">Articles courtesy of
    <a href="http://www.gamespot.com">
      <img src="/app/public/assets/img/gamespot-logo.png" alt="">
    </a>
  </h3>


  <ol>

    {{#each dbArticles}}

    <hr>
    <li>
      <a href={{link}}>
        <h5>{{title}} </a>
      {{#if saved}}
      <button data-id={{_id}} type="button" class="save btn btn-success">Saved</button>
      {{else}}
      <button data-id={{_id}} type="button" class="save btn btn-info">Save</button>
      {{/if}}
      </h5>

      <p>{{summary}}</p>
      {{#if comment}}
      <ul> Comments
        {{#each comment}}
        <li>{{title}}
          <p>{{body}}</p>
        </li>
        {{/each}}
      </ul>
      <button data-id={{_id}} type="button" class="add-comment btn btn-dark">+ Comment</button>
        <div class="comment-box"></div>
      {{else}}
      <button data-id={{_id}} type="button" class="add-comment btn btn-dark">+ Comment</button>
          <div class="comment-box"></div>

      {{/if}}

      <hr>
    </li>
    {{/each}}

  </ol>

</div>